@model Blog.UI.Models.HomeVM

@{
    ViewBag.Title = "Welcome to JSDate...";
}

<div class="container main-body">
    <br/>
    <div class="row">
        <div class="col-md-6">
            <div id="home-slider" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#home-slider" data-slide-to="0" class="active"></li>
                    <li data-target="#home-slider" data-slide-to="1"></li>
                    <li data-target="#home-slider" data-slide-to="2"></li>
                    <li data-target="#home-slider" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    @*<div class="item active">
                            @if (!Request.IsAuthenticated)
                            {
                                <div class="row">
                                    <h4><span class="pull-right lead">We are JsDate and we aim to "plug" you in with the coding “partner” of your dreams.</span></h4>
                                    <h4><span class="pull-right lead">Get ready to take your “paired-programming” to the next level...</span></h4>
                                    <p>
                                        <button class="btn btn-default pull-right">@Html.ActionLink("Register Today!", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</button>
                                    </p>
                                </div>
                            }
                        </div>*@
                    <div class="item active">

                        <a href="/BlogPost/ViewBlogPost/@Model.BlogPosts[0].BlogPostId"><img src="@Model.BlogPosts[0].CoverImageUrl" alt="@Model.BlogPosts[0].BlogPostTitle">
                        <h3 class="carousel-caption">@Model.BlogPosts[0].BlogPostTitle</h3>
                        </a>
                    </div>

                    <div class="item">
                        <a href="/BlogPost/ViewBlogPost/@Model.BlogPosts[1].BlogPostId"><img src="@Model.BlogPosts[1].CoverImageUrl" alt="@Model.BlogPosts[1].BlogPostTitle">
                            <h3 class="carousel-caption">@Model.BlogPosts[1].BlogPostTitle</h3>
                        </a>
                    </div>

                    <div class="item">
                        <a href="/BlogPost/ViewBlogPost/@Model.BlogPosts[2].BlogPostId"><img src="@Model.BlogPosts[2].CoverImageUrl" alt="@Model.BlogPosts[2].BlogPostTitle">
                            <h3 class="carousel-caption">@Model.BlogPosts[2].BlogPostTitle</h3>
                        </a>
                    </div>
                    <div class="item">
                        <a href="/BlogPost/ViewBlogPost/@Model.BlogPosts[3].BlogPostId">
                            <img src="@Model.BlogPosts[3].CoverImageUrl" alt="@Model.BlogPosts[3].BlogPostTitle">
                            <h3 class="carousel-caption">@Model.BlogPosts[3].BlogPostTitle</h3>
                        </a>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#home-slider" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#home-slider" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4 col-xs-12 padding-bot-40">
                    <a href="/BlogPost/ViewBlogPost/@Model.BlogPosts[4].BlogPostId">
                    <img class="head-block-thumb" src="@Model.BlogPosts[4].CoverImageUrl"/>
                        </a>
                </div>
                <div class="col-md-8 col-xs-12 head-block-desc">
                    <a href="/BlogPost/ViewBlogPost/@Model.BlogPosts[4].BlogPostId">
                    <h3>@Model.BlogPosts[4].BlogPostTitle</h3>
                        </a>
                        <p>@Model.BlogPosts[4].Description</p>
                    </div>
                <hr/>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-12 padding-bot-40">
                    <a href="/BlogPost/ViewBlogPost/@Model.BlogPosts[5].BlogPostId">
                    <img class="head-block-thumb" src="@Model.BlogPosts[5].CoverImageUrl"/>
                        </a>
            </div>
                <div class="col-md-8 col-xs-12 head-block-desc">
                    <a href="/BlogPost/ViewBlogPost/@Model.BlogPosts[5].BlogPostId">
                    <h3>@Model.BlogPosts[5].BlogPostTitle</h3>
                        </a>
                        <p>@Model.BlogPosts[5].Description</p>
                 </div>
                <hr/>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <a href="/BlogPost/ViewBlogPost/@Model.BlogPosts[6].BlogPostId">
                    <img class="head-block-thumb" src="@Model.BlogPosts[6].CoverImageUrl"/>
                        </a>
                </div>
                <div class="col-md-8 col-xs-12 head-block-desc">
                    <a href="/BlogPost/ViewBlogPost/@Model.BlogPosts[6].BlogPostId">
                    <h3>@Model.BlogPosts[6].BlogPostTitle</h3>
                        </a>
                        <p>@Model.BlogPosts[6].Description</p>
                 </div>
                <hr/>
            </div>
        </div>
    </div>

    <br/>
    <br/>
    <div class="container">
        <div class="row">

            <div class="col-sm-8 blog-heading">
                <h3>Blog Posts</h3>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                   @for (int i = 7; i < 13; i++){
                       <div class="thumbnail img-responsive">
                           <a href="/BlogPost/ViewBlogPost/@Model.BlogPosts[i].BlogPostId">
                               <img src="@Model.BlogPosts[i].CoverImageUrl" alt="@Model.BlogPosts[i].BlogPostTitle" class="portrait">
                           </a>
                       </div>
                       <div>
                           <h2>
                               <a href="/BlogPost/ViewBlogPost/@Model.BlogPosts[i].BlogPostId">
                                   @Model.BlogPosts[i].BlogPostTitle
                               </a>
                           </h2>
                           <small class="pull-right tiny">@Model.BlogPosts[i].TimeCreated.ToShortDateString()</small>
                       </div>

                            <div class="panel-body">
                                <div class="col-md-12">
                                    <p>Post Text</p>
                                    <blockquote>@Html.Raw(Model.BlogPosts[i].Description)</blockquote>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <p>Category: @Model.BlogPosts[i].Category.CategoryTitle</p>
                                    </div>
                                    <div class="col-md-3 pull-right">
                                        <p>Hashtags</p>
                                        @if (Model.BlogPosts[i].Hashtags.Count > 0)
                                        {
                                            string hashtags = "";
                                            for (int j = 0; j < Model.BlogPosts[i].Hashtags.Count - 1; j++)
                                            {
                                                hashtags += "#" + Model.BlogPosts[i].Hashtags[j].HashtagTitle + ", ";
                                            }
                                            hashtags += "#" + Model.BlogPosts[i].Hashtags[Model.BlogPosts[i].Hashtags.Count - 1].HashtagTitle;
                                            <p>@hashtags</p>
                                        }
                                        else
                                        {
                                            <p>No hashtags added...</p>
                                        }
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-2">
                                        <small><cite title="Source Title">a post by @(Model.BlogPosts[i].User.FirstName + " " + Model.BlogPosts[i].User.LastName)</cite></small>
                                    </div>
                                </div>
                            </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
