@model List<Blog.Models.BlogPost>
@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div id="home-banner">
        <div class="jumbotron">
            <h1 class="pull-right">ASP.NET</h1>
            <p class="lead pull-right">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><button class="btn btn-default"pull-right">@Html.ActionLink("Register Today!", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</button></p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">

        @*@foreach (var blogPost in Model)
        {
            <div class="row">
                <h3>@blogPost.BlogPostTitle</h3>
            </div>
            <div class="row">
                <p>@Html.Raw(blogPost.BlogPostText)</p>
            </div>
            <div class="row">
                <div class="pull-left">
                    <p>Category: @blogPost.Category</p>
                </div>
                <div class="pull-right">
                    <p>Date: @blogPost.TimeCreated</p>
                </div>
        </div>
        }*@
    </div>
    <div class="col-md-4">
        
    </div>
</div>