@model List<Blog.Models.BlogPost>

@{
    ViewBag.Title = "Manage Posts";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<div class="container-fluid">

    <div class="col-md-10 col-md-offset-2 panel panel-default">
        <div class="panel-heading">
            <h2>Manage Posts</h2>
        </div>

        <div @*class="row"*@ ng-app ng-init="posts = [
             @foreach (var post in Model)
             {
                 <text>{PostId: '@post.BlogPostId', Title: '@post.BlogPostTitle.Replace("'", "\\'")', TimeCreated: '@post.TimeCreated.ToString("g")', UserName: '@post.User.UserName', Category: '@post.Category.CategoryTitle', Status: '@post.Status.ToString()'},</text>
             }

     ]">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-xs-1">PostID</th>
                        <th class="col-xs-3">Title</th>
                        <th class="col-xs-1">User</th>
                        <th class="col-xs-2">Time Created</th>
                        <th class="col-xs-1">Category</th>
                        <th class="col-xs-1">Status</th>
                        <th class="col-xs-3"></th>
                    </tr>
                    <tr>
                        <th><input class="form-control" type="text" ng-model="postFilter.PostId" /></th>
                        <th><input class="form-control" type="text" ng-model="postFilter.Title" /></th>
                        <th><input class="form-control" type="text" ng-model="postFilter.UserName" /></th>
                        <th><input class="form-control" type="text" ng-model="postFilter.TimeCreated" /></th>
                        <th><input class="form-control" type="text" ng-model="postFilter.Category" /></th>
                        <th><input class="form-control" type="text" ng-model="postFilter.Status" /></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="post in posts | filter:postFilter">
                        <td>{{post.PostId}}</td>
                        <td>{{post.Title}}</td>
                        <td>{{post.UserName}}</td>
                        <td>{{post.TimeCreated}}</td>
                        <td>{{post.Category}}</td>
                        <td>
                            <span class="label label-success" ng-if="post.Status == 'Approved'">{{post.Status}}</span>
                            <span class="label label-warning" ng-if="post.Status == 'Pending'">{{post.Status}}</span>
                            <span class="label label-danger" ng-if="post.Status == 'Denied'">{{post.Status}}</span>
                            <span class="label label-danger" ng-if="post.Status == 'Deleted'">{{post.Status}}</span>
                        </td>
                        <td>
                            @{
                                var url1 = Url.Action("ViewBlogPost", "BlogPost", new { id = "{{post.PostId}}" });
                                url1 = HttpUtility.UrlDecode(url1);

                                var url2 = Url.Action("ApprovePost", "BlogPost", new { id = "{{post.PostId}}" });
                                url2 = HttpUtility.UrlDecode(url2);

                                var url3 = Url.Action("DenyPost", "BlogPost", new { id = "{{post.PostId}}" });
                                url3 = HttpUtility.UrlDecode(url3);

                                var url4 = Url.Action("DeletePost", "BlogPost", new { id = "{{post.PostId}}" });
                                url4 = HttpUtility.UrlDecode(url4);

                                var url5 = Url.Action("RestorePost", "BlogPost", new { id = "{{post.PostId}}" });
                                url5 = HttpUtility.UrlDecode(url5);

                                var url6 = Url.Action("EditBlogPost", "BlogPost", new { id = "{{post.PostId}}" });
                                url6 = HttpUtility.UrlDecode(url6);
                            }
                            <div class="btn-group">
                                <a href="@url2" class="btn btn-success disabled" title="Approve" ng-if="post.Status == 'Approved' || post.Status == 'Deleted'"><span class="glyphicon glyphicon-check"></span></a>
                                <a href="@url2" class="btn btn-success" title="Approve" ng-if="post.Status == 'Pending' || post.Status == 'Denied'"><span class="glyphicon glyphicon-check"></span></a>
                                <a href="@url3" class="btn btn-warning disabled" title="Deny" ng-if="post.Status == 'Denied' || post.Status == 'Deleted'"><span class="glyphicon glyphicon-ban-circle"></span></a>
                                <a href="@url3" class="btn btn-warning " title="Deny" ng-if="post.Status == 'Pending' || post.Status == 'Approved'"><span class="glyphicon glyphicon-ban-circle"></span></a>
                                <a href="@url4" class="btn btn-danger" title="Remove" ng-if="post.Status == 'Approved' || post.Status == 'Denied' || post.Status == 'Pending'"><span class="glyphicon glyphicon-remove"></span></a>
                                <a href="@url5" class="btn btn-primary" title="Restore" ng-if="post.Status == 'Deleted'"><span class="glyphicon glyphicon-export"></span></a>
                                <a href="@url6" class="btn btn-pending" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                                <a href="@url1" class="btn btn-info" title="Info"><span class="glyphicon glyphicon-info-sign"></span></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/angular.min.js"></script>
}