@model Blog.UI.Models.AddBlogPostVM

@{
    ViewBag.Title = "Add New Blog Post";
}
<link href="~/Content/jquery.tagit.css" rel="stylesheet" type="text/css">
<link href="~/Content/tagit.ui-zendesk.css" rel="stylesheet" type="text/css">

<br/>
<div class="container">
    <div class="row">
        <div class="well">
                @using (Html.BeginForm("AddNewBlogPost", "BlogPost", null, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <fieldset>
                        <legend><b>Add a New Blog Post</b></legend>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Blog Title</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.BlogPost.BlogPostTitle, new { @class = "form-control", @placeholder = "Blog Title" })
                            </div>
                        </div>

                        <br/>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Blog Description</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.BlogPost.Description, new { @class = "form-control", @placeholder = "Blog Description" })
                            </div>
                        </div>

                        <br/>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Cover Image URL</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.BlogPost.CoverImageUrl, new { @class = "form-control", @placeholder = "Cover Image URL" })
                            </div>
                        </div>

                        <br />
                        <div class="form-group">
                            <label class="col-md-2 control-label">Content Text</label>
                            <div class="col-md-10">
                                @Html.TextAreaFor(m => m.BlogPost.BlogPostText, new {@id = "mytextarea"})
                            </div>
                        </div>
                        <br/>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Category</label>
                            <div class="col-md-10">
                                @Html.DropDownListFor(m => m.BlogPost.Category.CategoryId, Model.CategoriesList, "-- Please Select Category --", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Hashtags</label>
                            <div class="col-md-8">
                                <ul id="myTags"></ul>
                            </div>
                        </div>
                        @Html.HiddenFor(m => m.BlogPost.User.Id)

                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                            <button type="submit" class="btn btn-success">Submit</button>
                                <button type="reset" class="btn btn-danger">Reset</button>
                                </div>
                        </div>
                    </fieldset>
                }
        </div>
    </div>

</div>

@section scripts{
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/app/tinymce.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/tag-it.min.js"></script>
    <script src="~/Scripts/app/tagitload.js"></script>
}