@model Blog.UI.Models.AllPostsVM

@{
    ViewBag.Title = "All Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ul class="nav nav-tabs">
    <li class="active"><a href="/BlogPost/AllPosts" aria-expanded="true"><span class="glyphicon glyphicon-list"></span> All Posts</a></li>
    <li class=""><a href="/BlogPost/SearchPosts" aria-expanded="false"><span class="glyphicon glyphicon-search"></span> Search</a></li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
            <span class="glyphicon glyphicon-tags"></span> Categories <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            @foreach (var c in Model.Categories)
            {
                <li><a href="/BlogPost/ViewCategory/@c.CategoryId">@c.CategoryTitle</a></li>
            }
        </ul>
    </li>
</ul>

@* Total number of posts/pages (showing this of that) *@

<div class="text-center">
    <ul class="pagination pagination-sm sync-pagination"></ul>
</div>

<div class="container">
    <div class="row">

        <div class="col-xs-12 col-sm-offset-1 col-sm-10">
            @if (Model.CurrentPage*5 > @Model.PostCount)
            {
                <p>
                    Showing Posts <b>@((Model.CurrentPage - 1)*5 + 1) to @(Model.PostCount)</b> of @Model.PostCount Total
                </p>
            }
            else
            {
                <p>
                    Showing Posts <b>@((Model.CurrentPage - 1)*5 + 1) to @((Model.CurrentPage)*5)</b> of @Model.PostCount Total
                </p>
            }
            <br/>
            @foreach (var post in Model.BlogPosts)
            {
                <div class="row">
                    <div class="well">
                        @*<div class="row">*@
                        <div class="thumbnail img-responsive">
                            <a href="/BlogPost/ViewBlogPost/@post.BlogPostId">
                                <img src="@post.CoverImageUrl" alt="@post.BlogPostTitle" class="portrait">
                            </a>
                        </div>
                        <div class="row addmargin">
                            <h2 class="h2-a">
                                <a href="/BlogPost/ViewBlogPost/@post.BlogPostId">
                                    @post.BlogPostTitle
                                </a>
                            </h2>
                            <blockquote>
                                <p>@post.Description</p>
                            </blockquote>
                            @*<hr class="hr-dark" />*@
                            <p>
                                @Html.Raw(post.BlogPostText)
                            </p>
                        </div>
                        @*</div>*@

                        <hr class="hr-dark"/>
                        <div class="row">

                            <div class="col-md-4">
                                <p>Category: @post.Category.CategoryTitle</p>
                                <p>@post.TimeCreated.ToString("g")</p>
                                <small><cite title="Source Title">a post by <b>@(post.User.FirstName + " " + post.User.LastName)</b></cite></small>
                            </div>

                            <div class="col-md-3 pull-right">
                                <p>Hashtags:</p>
                                @if (post.Hashtags.Count > 0)
                                {
                                    string hashtags = "";
                                    for (int j = 0; j < post.Hashtags.Count - 1; j++)
                                    {
                                        hashtags += "#" + post.Hashtags[j].HashtagTitle + ", ";
                                    }
                                    hashtags += "#" + post.Hashtags[post.Hashtags.Count - 1].HashtagTitle;
                                    <cite>@hashtags</cite>
                                }
                                else
                                {
                                    <p>No hashtags added...</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>

<div class="text-center">
    <ul class="pagination sync-pagination"></ul>
</div>

@section scripts{
    <script src="~/Scripts/jquery.twbsPagination.min.js"></script>
    <script src="~/Scripts/jquery.dotdotdot.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.sync-pagination').twbsPagination({
                totalPages: @Model.TotalPages,
                startPage: @Model.CurrentPage,
                visiblePages: 5,
                href: '/BlogPost/AllPosts/{{number}}'
            });
        });
    </script>
    <script src="~/Scripts/app/dotdotdot.js"></script>
}