@model Blog.UI.Models.HomeVM

@{
    ViewBag.Title = "All Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-md-8">
    <h2>All Posts</h2>
    @foreach (var post in Model.BlogPosts)
    {
        <div class="panel">
            <div class="panel-heading">
                <h4>@post.BlogPostTitle</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <p>Post Text</p>
                    @Html.Raw(post.BlogPostText)
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p>Category: @post.Category.CategoryTitle</p>
                    </div>
                    <div class="col-md-4">
                        <p>Status: @post.Status</p>
                    </div>
                    <div class="col-md-4">
                        <p>Hashtags</p>
                        @if (post.Hashtags.Count > 0)
                        {
                            string hashtags = "";
                            for (int i = 0; i < post.Hashtags.Count - 1; i++)
                            {
                                hashtags += "#" + post.Hashtags[i].HashtagTitle + ", ";
                            }
                            hashtags += "#" + post.Hashtags[post.Hashtags.Count - 1].HashtagTitle;
                            <p>@hashtags</p>
                        }
                        else
                        {
                            <p>No hashtags added...</p>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p>Author: @post.User.UserName</p>
                    </div>

                    <div class="col-md-4">
                        <p>Date: @post.TimeCreated</p>

                    </div>
                </div>
            </div>
        </div>
    }
</div>
