@model Blog.UI.Models.AllPostsVM

@{
    ViewBag.Title = "All Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<ul class="nav nav-tabs">
    <li class="active"><a href="/BlogPost/AllPosts" aria-expanded="true"><span class="glyphicon glyphicon-list"></span> All Posts</a></li>
    @*<li class=""><a href="#" aria-expanded="false"><span class="glyphicon glyphicon-search"></span> Search</a></li>*@
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
            <span class="glyphicon glyphicon-tags"></span> Categories <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            @foreach (var c in Model.Categories)
            {
                <li><a href="/BlogPost/ViewCategory/@c.CategoryId">@c.CategoryTitle</a></li>
            }
        </ul>
    </li>
</ul>

@* Total number of posts/pages (showing this of that) *@

<div class="text-center">
    <ul class="pagination pagination-sm sync-pagination"></ul>
</div>

<div class="container">
    <div class="row">

        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <br/>
                <br/>
                @foreach (var post in Model.BlogPosts)
                {
                    <div class="well">
                        <div class="thumbnail img-responsive">
                            <a href="/BlogPost/ViewBlogPost/@post.BlogPostId">
                                <img src="@post.CoverImageUrl" alt="@post.BlogPostTitle" class="portrait">
                            </a>
                        </div>
                        <div>
                            <h2>
                                <a href="/BlogPost/ViewBlogPost/@post.BlogPostId">
                                    @post.BlogPostTitle
                                </a>
                            </h2>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12 blogpost">
                                <blockquote>
                                    <p>@post.Description</p>
                                </blockquote>
                            </div>
                            <div class="col-md-12 ellipsis box box-7" style="word-wrap: break-word;">
                                @Html.Raw(post.BlogPostText)
                            </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <p>Category: @post.Category.CategoryTitle</p>
                                        <small><cite title="Source Title">a post by @(post.User.FirstName + " " + post.User.LastName)</cite></small>
                                        <small class="pull-right tiny">@post.TimeCreated.ToShortDateString()</small>
                                    </div>

                                    <div class="col-md-3 pull-right">
                                        <p>Hashtags</p>
                                        @if (post.Hashtags.Count > 0)
                                        {
                                            string hashtags = "";
                                            for (int j = 0; j < post.Hashtags.Count - 1; j++)
                                            {
                                                hashtags += "#" + post.Hashtags[j].HashtagTitle + ", ";
                                            }
                                            hashtags += "#" + post.Hashtags[post.Hashtags.Count - 1].HashtagTitle;
                                            <p>@hashtags</p>
                                        }
                                        else
                                        {
                                            <p>No hashtags added...</p>
                                        }
                                    </div>
                                </div>
                            </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <ul class="pagination sync-pagination"></ul>
</div>

@section scripts{
    <script src="~/Scripts/jquery.twbsPagination.min.js"></script>
    <script src="~/Scripts/jquery.dotdotdot.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.sync-pagination').twbsPagination({
                totalPages: @Model.TotalPages,
                startPage: @Model.CurrentPage,
                visiblePages: 5,
                href: '/BlogPost/AllPosts/{{number}}'
            });
        });
    </script>
    <script src="~/Scripts/app/dotdotdot.js"></script>
}