@model Blog.Models.BlogPost

@{
    ViewBag.Title = "Confirm New Blog Post";
}

<h2>Confirm New Blog Post</h2>

@using (Html.BeginForm("SubmitBlogPost", "BlogPost", null, FormMethod.Post, new {@class = Model}))
{
    <div class="container">
        <div class="row">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Property</th>
                    <th>Input</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Title</td>
                    <td>@Model.BlogPostTitle</td>
                </tr>
                <tr>
                    <td>Blog Post ID</td>
                    <td>@Model.BlogPostId</td>
                </tr>
                <tr>
                    <td>UserName</td>
                    <td>@Model.User.UserName</td>
                </tr>
                <tr>
                    <td>Time Created</td>
                    <td>@Model.TimeCreated.ToString("F")</td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td>@Model.Category.CategoryTitle</td>
                </tr>
                <tr>
                    <td>Hashtags</td>
                    <td>#Delly, #Delly, #Delly</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>@Model.Status</td>
                </tr>
                <tr>
                    <td>Html Body</td>
                    <td>@Html.Raw(Model.BlogPostText)</td>
                </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-success">Submit</button>
            
        </div>
    </div>
}