@using System.Activities.Expressions
@using Blog.Models
@model Blog.UI.Models.AddBlogPostVM

@{
    ViewBag.Title = "Edit Blog Post";
}

<br />
<div class="container">
    <div class="row" ng-app="validationPost">
        <div class="well" keep-input-values>
            <form action="/BlogPost/EditBlogPost" class="form-horizontal" method="post" name="myForm" novalidate>
                <fieldset>
                    <legend><b>Edit Blog Post</b></legend>
                    @Html.ValidationSummary(false)
                    
                    <div class="form-group">
                        <label for="BlogPost_BlogPostId" class="col-md-2 control-label">Blog ID#</label>
                        <div class="col-md-10 edit-blogpost" >
                            @Html.DisplayFor(m => m.BlogPost.BlogPostId, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="BlogPost_BlogPostTitle" class="col-md-2 control-label">Blog Title</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.BlogPost.BlogPostTitle, new {@class = "form-control", @placeholder = "Blog Title", @required = "", @ng_model = "Title", @ng_maxlength = "100"})
                            <label class="control-label text-danger" ng-show="myForm['BlogPost.BlogPostTitle'].$dirty && myForm['BlogPost.BlogPostTitle'].$invalid && myForm['BlogPost.BlogPostTitle'].$error.required">
                                Title is required
                            </label>
                            <label class="control-label text-danger" ng-show="myForm['BlogPost.BlogPostTitle'].$dirty && myForm['BlogPost.BlogPostTitle'].$invalid && myForm['BlogPost.BlogPostTitle'].$error.maxlength">
                                Your title cannot be longer than 100 characters
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="BlogPost_Status" class="col-md-2 control-label">Status</label>
                        <div class="col-md-10 edit-status">
                            @if (Model.BlogPost.Status == BlogPostStatus.Approved)
                            {
                                <span class="label label-success">Approved</span>
                            }
                            else if (Model.BlogPost.Status == BlogPostStatus.Pending)
                            {
                                <span class="label label-pending">Pending</span>
                            }
                            else if (Model.BlogPost.Status == BlogPostStatus.Denied)
                            {
                                <span class="label label-danger">Denied</span>
                            }
                            else if (Model.BlogPost.Status == BlogPostStatus.Deleted)
                            {
                                <span class="label label-danger">Deleted</span>
                            }
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="BlogPost_User_UserName" class="col-md-2 control-label">User Name</label>
                        <div class="col-md-10 edit-blogpost">
                            @Html.DisplayFor(m => m.BlogPost.User.UserName, new {@class = "form-control"})
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="BlogPost_TimeCreated" class="col-md-2 control-label">Time Created</label>
                        <div class="col-md-10 edit-blogpost">
                            @Html.DisplayFor(m => m.BlogPost.TimeCreated, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="BlogPost_Description" class="col-md-2 control-label">Blog Description</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(m => m.BlogPost.Description, new { @class = "form-control", @placeholder = "Blog Description", @ng_model = "Description", @required = "", @ng_maxlength = "200" })
                            <label class="control-label text-danger" ng-show="myForm['BlogPost.Description'].$dirty && myForm['BlogPost.Description'].$invalid && myForm['BlogPost.Description'].$error.required">
                                Description is required
                            </label>
                            <label class="control-label text-danger" ng-show="myForm['BlogPost.Description'].$dirty && myForm['BlogPost.Description'].$invalid && myForm['BlogPost.Description'].$error.maxlength">
                                Your description cannot be longer than 200 characters
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="BlogPost_CoverImageUrl" class="col-md-2 control-label">Cover Image URL</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.BlogPost.CoverImageUrl, new { @class = "form-control", @placeholder = "Cover Image URL", @required = "", @ng_model = "CoverImageUrl" })
                            <label class="control-label text-danger" ng-show="myForm['BlogPost.CoverImageUrl'].$dirty && myForm['BlogPost.CoverImageUrl'].$invalid && myForm['BlogPost.CoverImageUrl'].$error.required">
                                Cover Image URL is required
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="BlogPost_Category_CategoryId" class="col-md-2 control-label">Category</label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(m => m.BlogPost.Category.CategoryId, Model.CategoriesList, "-- Select Category --", new { @class = "form-control" })
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="mytextarea" class="col-md-2 control-label">Content Text</label>
                        <div class="col-md-8">
                            @Html.TextAreaFor(m => m.BlogPost.BlogPostText, new { @id = "mytextarea" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Hashtags</label>
                        <div class="col-md-8">
                            <ul id="myTags">
                                @foreach (var ht in Model.BlogPost.Hashtags)
                                {
                                    <li>@ht.HashtagTitle</li>
                                }
                            </ul>
                            <div class="pull-right tiny">* No # signs or spaces allowed (10 max)</div>
                        </div>
                    </div>

                    @Html.HiddenFor(m => m.BlogPost.BlogPostId)
                    @Html.HiddenFor(m => m.BlogPost.User.Id)
                    @Html.HiddenFor(m => m.BlogPost.TimeCreated)
                    @Html.HiddenFor(m => m.BlogPost.Status)
                    @Html.HiddenFor(m => m.BlogPost.User.UserName)

                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

</div>

@section Styles{
    <link href="~/Content/jquery.tagit.css" rel="stylesheet" type="text/css">
    <link href="~/Content/tagit.ui-zendesk.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Content/app/angvalidation.css" />
}

@section scripts{
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/app/tinymce.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/tag-it.min.js"></script>
    <script src="~/Scripts/app/tagitload.js"></script>
    <script src="~/Scripts/angular-keep-values.min.js"></script>
    <script src="~/Scripts/app/angvalidation.js"></script>
}