@model Blog.Models.BlogPost

@{
    ViewBag.Title = "View Blog Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center-block blogpost">

    <div class="row">
        <img class="img-responsive" src="@Model.CoverImageUrl"/>
    </div>
    <div class="row">
        <h2>
            @Model.BlogPostTitle
        </h2>
        <h3>@Model.Description</h3>
    </div>
    <div class="row">
        <small><cite title="Source Title">a post by: @(Model.User.FirstName + " " + Model.User.LastName)</cite></small>
        <small class="pull-right tiny">Date: @Model.TimeCreated</small>
        <p>Category: @Model.Category.CategoryTitle</p>
    </div>
    <div class="row">
        <p>@Html.Raw(Model.BlogPostText)</p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <br/>
            <br/>
        </div>
        <div class="col-md-9">
            <p class="tiny">Hashtags</p>
            @if (Model.Hashtags.Count > 0)
            {
                string hashtags = "";
                for (int i = 0; i < Model.Hashtags.Count - 1; i++)
                {
                    hashtags += "#" + Model.Hashtags[i].HashtagTitle + ", ";
                }
                hashtags += "#" + Model.Hashtags[Model.Hashtags.Count - 1].HashtagTitle;
                <p>@hashtags</p>
            }
            else
            {
                <p>No hashtags added...</p>
            }
        </div>
    </div>
</div>
