@model Blog.Models.BlogPost

@{
    ViewBag.Title = "View Blog Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10">
            <div class="well">
                <img src="@Model.CoverImageUrl" class="img-responsive">
                <div class="row addmargin">
                    @*<div class="col-sm-9">*@
                        <h2 class="h2-a"><b>@Model.BlogPostTitle</b></h2>
                        <blockquote>
                            <p>@Model.Description</p>
                        </blockquote>
                        @*<hr class="hr-dark" />*@
                        <p>
                            @Html.Raw(Model.BlogPostText)
                        </p>
                    @*</div>*@
                </div>
                @*</div>*@

                <hr class="hr-dark" />
                <div class="row">

                    <div class="col-md-4">
                        <p>Category: @Model.Category.CategoryTitle</p>
                        <p>@Model.TimeCreated.ToString("g")</p>
                        <small><cite title="Source Title">a post by <b>@(Model.User.FirstName + " " + Model.User.LastName)</b></cite></small>
                    </div>

                    <div class="col-md-3 pull-right">
                        <p>Hashtags:</p>
                        @if (Model.Hashtags.Count > 0)
                        {
                            string hashtags = "";
                            for (int j = 0; j < Model.Hashtags.Count - 1; j++)
                            {
                                hashtags += "#" + Model.Hashtags[j].HashtagTitle + ", ";
                            }
                            hashtags += "#" + Model.Hashtags[Model.Hashtags.Count - 1].HashtagTitle;
                            <cite>@hashtags</cite>
                        }
                        else
                        {
                            <p>No hashtags added...</p>
                        }
                    </div>
                </div>
            </div>
        </div>
        </div>

</div>



@*<div class="blogpost">

    <div class="row">
        <img class="img-responsive" src="@Model.CoverImageUrl"/>
    </div>
    <div class="row">
        <h2>
            @Model.BlogPostTitle
        </h2>
        <small><cite title="Source Title">a post by: @(Model.User.FirstName + " " + Model.User.LastName)</cite></small>
        <h3>@Model.Description</h3>
    </div>
    <br />
    <div class="row">
        <p>@Html.Raw(Model.BlogPostText)</p>
    </div>
    <div class="row">
        <div class="col-md-4">
            
            <p>Category: @Model.Category.CategoryTitle</p>
        </div>
        <div class="col-md-offset-4 col-md-4">
            <p>@Model.TimeCreated.ToString("G") </p>
        </div>
    </div>

<br />
    <div class="row">
        <div class="col-md-9">
            <p class="tiny">Hashtags</p>
            @if (Model.Hashtags.Count > 0)
            {
                string hashtags = "";
                for (int i = 0; i < Model.Hashtags.Count - 1; i++)
                {
                    hashtags += "#" + Model.Hashtags[i].HashtagTitle + ", ";
                }
                hashtags += "#" + Model.Hashtags[Model.Hashtags.Count - 1].HashtagTitle;
                <p>@hashtags</p>
            }
            else
            {
                <p>No hashtags added...</p>
            }
        </div>
    </div>
</div>*@
