@using System.Diagnostics.Eventing.Reader

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/cerulean/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", false)
</head>

<body id="admin-body">
    <nav id="admin-nav" class="navbar navbar-nav navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartialDashboard")
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-sm-2 col-md-2 sidebar hidden-sm hidden-xs">
            <ul class="nav nav-sidebar">

                <li><a href="/Admin/AdminDashboard"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
                <li><a href="/Home/Index"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li><a href="/Admin/ManagePosts"><span class="glyphicon glyphicon-list-alt"></span> Manage Posts</a></li>
                <li><a href="/Admin/ManageStaticPages">Manage Pages</a></li>
                <li><a href="/Admin/AddNewUser">Add New User</a></li>
                <li><a href="/Admin/ManageUsers">Manage Users</a></li>
                <li><a href="/Page/AddNewPage">Add New Page</a></li>
                <li><a href="/BlogPost/AddNewBlogPost">Add New Post</a></li>
            </ul>
        </div>

    </div>
    <div class="body-content">
        @RenderBody()
        <hr />
    </div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/app/admin.js"></script>
</body>
</html>

