<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/flatly/bootstrap.min.css" rel="stylesheet" typ="text/css"/>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="viewport" content="width=device-width"/>
    <title>JsDate</title>
</head>

<div id="admin-nav" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>


<body id="admin-body">
<section>
    <div class="row">
        <div class="col-sm-3 col-md-2  sidebar">
            <ul class="nav nav-sidebar">
                <li><a href>Dashboard</a></li>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li><a href>Posts</a></li>
                <li><a href>Pages</a></li>
                <li><a href>Users</a></li>
                <li>@Html.ActionLink("Add New Page", "AddNewPage", "Page")</li>
                <li>@Html.ActionLink("Add New Post", "AddNewBlogPost", "BlogPost")</li>
            </ul>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr/>
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
    </div>
</section>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@*<script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/app/admin.js"></script>*@
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script>tinymce.init({ selector: 'textarea' });</script>
</body>
</html>
