@using System.Diagnostics.Eventing.Reader
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/cerulean/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" type="image/ico" href="~/favicon.ico">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", false)

</head>
<body>
    <nav class="navbar navbar-nav navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarmain-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/Home" class="pull-left" title="Home"> <img alt="JS Date" id="jsDate-logo" src="~/Content/img/Logo_JDate_official.png"/></a>
            </div>
            <div class="container">
                <div class="navbar-collapse collapse in" id="navbarmain-collapse" aria-expanded="true">
                    <ul class="nav navbar-nav">
                        <li><a href="/Home/Index" title="Home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li><a href="/Admin/AdminDashboard" title="Dashboard"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
                        }
                        @if (User.IsInRole("PR"))
                        {
                            <li><a href="/PR/PRDashboard" title="Dashboard"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("PR") || User.IsInRole("User"))
                        {
                            <li><a href="/BlogPost/AllPosts" title="All Posts"><span class="glyphicon glyphicon-list-alt"></span> All Posts</a></li>
                            <li><a href="/BlogPost/SearchPosts" title="Search"><span class="glyphicon glyphicon-search"></span> Search</a></li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </nav>
<div class="body-content">
    @RenderBody()
    <hr/>
</div>
<footer class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <a href="~/Home" class="pull-left"> <img alt="JS Date" id="jsDate-logo" src="~/Content/img/Logo_JDate_official.png" /></a>
        </div>
    </div>
    <p>&copy; @DateTime.Now.Year - JSDate: brought to you by JDate</p>
</footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
