@using System.Diagnostics.Eventing.Reader

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/cerulean/bootstrap.min.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", false)
</head>

<body id="pr-body">
    <nav id="pr-nav" class="navbar navbar-nav navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">

                @Html.Partial("_LoginPartialDashboard")
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-sm-2 col-md-2 sidebar hidden-sm hidden-xs">
            <a href="~/Home" title="Home"> <img alt="JS Date" id="jsDate-logo2" src="~/Content/img/Logo_JDate_official.png" /></a>
            <ul class="nav nav-sidebar nav-pills nav-stacked">

                <li><a href="/PR/PRDashboard"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
                <li><a href="/Page/AddNewPage">Add New Page</a></li>
                <li><a href="/BlogPost/AddNewBlogPost">Add new Post</a></li>
            </ul>
        </div>

    </div>

    <div class="body-content">
        @RenderBody()
        <hr />
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/app/admin.js"></script>
    <script src="~/Scripts/app/staticpages.js"></script>
</body>
</html>


